# Compiled Object files
*.slo
*.lo
*.o
*.obj
build

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea/

# Generated headers
/src/SavitarExport.h

cmake-build-*

CMakeUserPresets.json

/conanbuildinfo.txt
/graph_info.json
/conan.lock
/conaninfo.txt
build/
test_package/build
/test_package/savitar-config.cmake
/test_package/pugixml-config.cmake
/test_package/CMakeFiles/
/test_package/CMakePresets.json
/test_package/test
/test_package/metadata/
/test_package/pugixml-config-version.cmake
/test_package/conanrunenv-release-x86_64.sh
/test_package/deactivate_conanrunenv-release-x86_64.sh
/test_package/deactivate_conanbuildenv-release-x86_64.sh
/test_package/deactivate_conanrun.sh
/test_package/savitar-config-version.cmake
/test_package/deactivate_conanbuild.sh
/test_package/.ninja_log
/test_package/build.ninja
/test_package/cmakedeps_macros.cmake
/test_package/savitarTargets.cmake
/test_package/pugixml-release-x86_64-data.cmake
/test_package/conandeps_legacy.cmake
/test_package/savitar-Target-release.cmake
/test_package/pugixml-Target-release.cmake
/test_package/conanbuild.sh
/test_package/conan_toolchain.cmake
/test_package/conanrun.sh
/test_package/pugixmlTargets.cmake
/test_package/CMakeCache.txt
/test_package/conanbuildenv-release-x86_64.sh
/test_package/cmake_install.cmake
/test_package/.ninja_deps
/test_package/savitar-release-x86_64-data.cmake
